@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
    .tabbrowser-tab:not([pinned]) {
        color: #f200b6 !important;
    box-shadow: 0px 0px 1px rgba(255, 0, 255, 1), 
                0px 0px 4px rgba(0, 255, 255, 1) !important; /* Neon glow effect */
      justify-content: space-around !important; // do this firs!!!!!!!!!!!!!!!!!!!!!!
    }
}
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
  .tabbrowser-tab {
      & .tab-stack {
        background-color: black !important;
        border-radius: 1rem !important;
    }
  }
}
}
.tabbrowser-tab:is([multiselected="true"], [selected]) {
  background: red !important;
  background-color: red !important;
  
}
.tabbrowser-tab:is([multiselected="true"], [selected]) {
    box-shadow: 0px 0px 4px rgba(255, 0, 255, 1), 
                0px 0px 1px rgba(0, 255, 255, 1) !important; /* Neon glow effect */
}
.tab-stack {
  height: 32px !important;
}
.tab-content:is([multiselected="true"], [selected]) {
  color: red !important;
}
#zen-tabbox-wrapper {
  background-color: black !important;
}
.browser-toolbar {
  &:not(.titlebar-color) {
    background-color: black !important;
  }
}
#appcontent, #browser, #tabbrowser-tabbox, #tabbrowser-tabpanels, .browserSidebarContainer {
  background-color: black !important;
}
.tab-background {
    border-radius: 20px 20px 0 0 !important;
    margin-top: 5px !important;
    padding: 0 10px !important;
    transform: translateY(5px) !important;
    transition: transform 0.3s ease, background-color 0.3s ease !important;
}
